body{
    font-family: 'Poppins';
}
.navigation-block{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: 'Poppins';
}

.nav-ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 12px;       
}

.fa-angles-down{
    color: white;
}

.burger-bar{
    display: none;
}

.nav-text{
    color: white;
}

.bg-img{
    background-repeat: no-repeat; 
    width: 100%;
    height: 324px;
    background-image:url('../images/nav-bg.png');
}

.about-us{
    display: flex;
    flex-direction: column; 
    width: 195px;
    height: 60px;
    color: white;
    margin-top: 95px;
    margin-left: 140px;    
}
.About-text{
    font-size: 42px;
    font-weight: bold;
}

.About-text2{
    color: white;
    font-size: 14px;
}

.fa-grip-lines-vertical{
    padding: 5px;
}

.small-about-text{
    margin-top: 14px;
}

.text-div{
    width: 400px;
    height: 350px;
    margin-top: 50px;
  }

.blue-box{
    width: 185px;
    height: 50px;
    background: #5863F8;
    margin-top: 25px;
    display: flex;
    justify-content: center;     
}

.blue-box-text{
    display: flex;
    justify-content: space-between;
    width: 95px;
    height: 20px;
    margin-top: 16PX;
    color: white;
}

.text-div-p1{
    font-size: 14px;
    color: #5863F8;
    font-weight: bold;
}
.text-div-p2{
    font-size: 42px;
    font-weight: bold;
    margin-top: 10px;
}

.text-div-p3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.text-div-p4{
    font-size: 14px;
    margin-top: 20px;
}
.read-more{
    font-size: 12px;
    color: white;
}

.about-div{
    max-width: 1088px;
    width: 100%;
    height: 461px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70px;  
}

.img-div{
    max-width: 540px;
    width: 100%;
}
.img1-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;    
}

.big-img{
    width: 100%;
    height: 255px;
    background-image: url('../images/img3.png');    
    margin-top: 6px;
}

.section2-bg-img{
    width: 100%;
    height: 612px;
    background-image: url('../images/sec-bg.png');
    margin-top: 90px;
    background-repeat: no-repeat; 
}

.text-div-2{
    margin-top: 30px;
    width: 376px;
    height: 120px;  
}

.text-1{
    color: white;
    font-size: 14px;
    
}

.text-2{
    margin-top: 10px;
    color: white;
    font-size: 42px;
}

.box1{
    background: white;
    max-width: 260px;
    width: 100%;
    height: 260px;
}

.hotel{
    background: #5863F8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.hotel-img{
    padding: 12px;
}

.hotels-text{
    flex-wrap: wrap;
}

.box1{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.free{
    font-size: 18px;
    width: 166px;
    height: 52px;
    font-weight: bold;
    margin-top: 15px;  
    text-align: center;
}

.lorem{
    width: 221px;
    height: 62px;
    font-size: 14px;
    text-align: center;   
} 

.boxes{
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;   
    margin-top: 110px;
}

.section-2{
    margin-bottom: 20px;
    max-width: 1100px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: absolute;
    margin-left: 139px;         
}

.section-div{
    max-width: 1100px;
    width: 100%;
    height: 435px;
    margin-top: 70px;
}