.navigation-block{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.nav-ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 12px;       
}

.fa-angles-down{
    color: white;
}

.burger-bar{
    display: none;
}

.nav-text{
    color: white;
}

.bg-img{
    width: 100%;
    height: 324px;
    background-image:url('../images/nav-bg.png');
}

.about-us{
    display: flex;
    flex-direction: column; 
    width: 195px;
    height: 60px;
    color: white;
    margin-top: 95px;
    margin-left: 140px;    
}
.About-text{
    font-size: 42px;
    font-weight: bold;
}

.About-text2{
    color: white;
    font-size: 14px;
}

.fa-grip-lines-vertical{
    padding: 5px;
}

.small-about-text{
    margin-top: 14px;
}

.text-div{
    width: 400px;
    height: 350px;
    /* margin-top: 128px;
    margin-left: 139px; */
}

.blue-box{
    width: 185px;
    height: 50px;
    background: #5863F8;
    margin-top: 25px;
    display: flex;
    justify-content: center;     
}

.blue-box-text{
    display: flex;
    justify-content: space-between;
    width: 95px;
    height: 20px;
    margin-top: 16PX;
    color: white;
}

.text-div-p1{
    font-size: 14px;
    color: #5863F8;
    font-weight: bold;
}
.text-div-p2{
    font-size: 42px;
    font-weight: bold;
    margin-top: 10px;
}

.text-div-p3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.text-div-p4{
    font-size: 14px;
    margin-top: 20px;
}
.read-more{
    color: white;
}

.img-div{
    width: 535;
    height: 460;
}

.about-div{
    width: 1088px;
    height: 461px;
    display: flex;
    justify-content: space-between;
    background: greenyellow;
    margin-top: 90px;  
    margin-left: auto;  
    margin-right: auto;

}